/* ad样式 */
#shop{  
    text-align: center;
    margin-bottom: 0;
}
#brief{
    width: 200px;
    margin: 0 auto;
}
#brief p:first-child{
  float: right;
  margin: 0;
}
/* 背景 */
#aside-content .card-widget{
  background: hsla(0,0%,100%,0.6);
}
#recent-posts>.recent-post-item, 
.layout>div:first-child:not(.recent-posts), 
.layout_post>#page, 
.layout_post>#post, 
.read-mode .layout_post>#post{
 background: hsla(0,0%,100%,0.5);
}